.App {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  padding: 0px 180px 0px 50px;
}

/* ~~~~~~ Animation ~~~~~~ */
@keyframes heroAnimation {
    from{
        background-position-x: 0;
    }
    to{
        background-position-x: 192px;
    }
}
@keyframes Demons {
  from{
    background-position-x: 0;
  }
  to{
    background-position-x: 384px;
  }
}

@keyframes Chest {
  from{
    background-position-x: 0;
  }
  to{
    background-position-x: 144px;
  }
}
@keyframes trap {
  from{
    background-position-x: 0;
  }
  to{
    background-position-x: 384px;
  }
}
/* ~~~~~~ Mundo ~~~~~~ */
.container-masmorra{
    position: relative;
    width: 960px;
    min-height: 960px;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../public/midia/tileset.gif');
    background-size: cover;
    z-index: 0;
}
/* ~~~~~~ BOTOES ~~~~~ */

.controls {
  position: fixed; /* Muda para position fixed para manter os botÃµes fixos na tela */
  bottom: 10px;
  left: 10px;
  display: flex;
  z-index: 30;
}

.move-buttons,
.action-buttons {
  display: flex;
}

.arrow-button,
.attack-button {
  width: 80px; /* Ajuste o tamanho conforme necessÃ¡rio */
  height: 80px; /* Ajuste o tamanho conforme necessÃ¡rio */
  margin: 10px;
  border: 2px solid #555;
  border-radius: 50%;
  background-color: #ccccccc2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow-button:hover,
.attack-button:hover {
  background-color: #ddd;
}


.up, .down, .left, .right {
  background-color: #ccccccc2;
  transform: translateX(50px);
}
/* Forma uma cruz com os botÃµes de movimento */
.up{
  transform: translate(78px, -140px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #555; /* Ajuste a cor conforme necessÃ¡rio */
  border-radius: 5px;

}
.down{
  transform: translate(-20px, 5px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #555; /* Ajuste a cor conforme necessÃ¡rio */
  border-radius: 5px;
}
.left{
  transform: translate(-210px, -70px);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #555; /* Ajuste a cor conforme necessÃ¡rio */
  border-radius: 5px;
}
.right{
  transform: translate(-135px, -70px);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #555; /* Ajuste a cor conforme necessÃ¡rio */
  border-radius: 5px;

}

/* Muda a orientaÃ§Ã£o dos botÃµes de ataque para vertical */
.action-buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  flex-direction: column;
}
