body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: whitesmoke;
  background-color: #171a1f;
  transition: 0.3s;
}
*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}